# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Model checkpoints & cache
models/weights/*.pt
scratch/

# OS artifacts
Thumbs.db
.DS_Store
